/* About.css */

/* Container for both sections */
.about-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: #111;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    color: white;
    gap: 10px;
    margin-left: 30px;
   
  }
  
  /* Left section (About Me) */
  .leftSection {
    flex: 1;
    padding-right: 40px;
    height: 100px;
    
  }
  
  /* Right section (Tech Stack) */
  .rightSection {
    flex: 1;
    background-color: #0aff9d;
    padding: 10px;
    border-radius: 10px;
    height: 400px;
    color: black;
    justify-content: center;
  }
  
  /* Main heading */
  .heading {
    font-size: 72px;
    color: #0aff9d;
    margin-bottom: 2rem;
    letter-spacing: -5px;
    text-align: center;
  }
  
  /* Subheading (Tech Stack) */
  .subHeading {
    font-size: 72px;
    color: black;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: -30px;
    padding: 50px;
    margin: 0 auto;
    letter-spacing: -5px;
  }
  
  /* Paragraphs */
  .paragraph {
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: sans-serif;
  }
  
  /* Container for the tech stack items */
  .techStackContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 300px;
    margin: 0 auto;
  }
  
  /* Individual tech stack item */
  .techStackItem {
    background-color: black;
    color: #fff;
    padding: 4px;
    border-radius: 10px;
    font-size: 1rem;
  }
  
  @media (max-width: 768px) {
    .about-container {
      flex-direction: column;
  
      margin-left: 0;
       /* Stack content vertically on smaller screens */
  
    
    }
   
    .leftSection{
        padding: auto;
    }
   
    .rightSection {
      margin-top: 10px;
      width: 400px; /* Full width for smaller screens */
      height: auto; 
      padding: auto;/* Adjust height on smaller screens */
    }
    .heading {
      font-size: 70px; /* Slightly smaller font for heading */
    }
    .subHeading {
      font-size: 70px; /* Smaller subheading size */
    }
  }
  
 